.footer1-wrapper {
    background: #ffffff;
    overflow: hidden;
    position: relative;
    min-height: 260px;
    color: #666;
}

.footer1-wrapper .footer1 .home-page {
    padding: 64px 0;
}

.footer1-wrapper .block.block {
    padding: 0 32px;
}

.footer1-wrapper .block .logo {
    max-width: 180px;
}

.footer1-wrapper .block .slogan {
    font-size: 12px;
    margin-top: -20px;
}

.footer1-wrapper .block>h2 {
    margin-bottom: 24px;
    color: #333;
    font-weight: 700;
    font-size: 1rem;
}

.footer1-wrapper .block a {
    color: #666;
    margin-bottom: 12px;
    float: left;
    clear: both;
}

.footer1-wrapper .block a:hover {
    color: #999;
}

.footer1-wrapper .copyright-wrapper {
    width: 100%;
    border-top: 1px solid rgba(233, 233, 233, .1);
}

.footer1-wrapper .copyright-wrapper .home-page {
    padding: 0 24px;
    overflow: hidden;
}

.footer1-wrapper .copyright-wrapper .copyright {
    height: 80px;
    text-align: center;
    line-height: 80px;
}

@media screen and (max-width: 767px) {

    .footer1 {
        min-height: 550px;
    }

    .footer1-wrapper .footer1 .home-page {
        padding: 64px 24px 32px;
    }

    .footer1 .logo {
        margin: 0 auto 24px;
    }

    .footer1 .block {
        text-align: center;
        margin-bottom: 32px;
        padding: 0;
    }

    .footer1 .copyright-wrapper .home-page {
        padding: 0;
    }

    .footer1 .copyright-wrapper .home-page .copyright {
        font-size: 12px;
    }

    .footer1 .copyright span {
        width: 90%;
    }
}