
.custom-dropdown >ul  {
    padding: 30px 24px !important;
    font-size: 16px;
  }
  .custom-dropdown li  {
    font-size: 16px !important;
  }
  .custom-dropdown li:hover  {
    background-color: #fff !important;
    color: rgb(134 211 139) !important;
  }
  .ico-eas a {
    color: #000;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.ico-eas a:hover {
    color: rgb(134 211 139) !important;
    transform: scale(1.3); /* 鼠标移入时放大 */
}